[build]
  base = "frontend"
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

  # Ignore other folders during build
[[plugins]]
  package = "@netlify/plugin-nextjs"