/* src/styles/overrides.css */
.bg-pale-orange {background-color: #EAAC59;}  
.fill-pale-orange {fill: #EAAC59;}  
.bg-slate {background-color: #26282A;}
.fill-slate {fill: #26282A;}
.bg-gunmetal {background-color: #2C3539;}
.fill-gunmetal {fill: #2C3539;}
.bg-dusky-blue {background-color: #26538D;}
.fill-dusky-blue {fill: #26538D;}
.bg-pearl-river {background-color: #D9DDDC;}
.fill-pearl-river {fill: #D9DDDC;}
.bg-erie {background-color: #1E1E1E;}
.fill-erie {fill: #1E1E1E;}
.bg-abbey {background-color: #494F55;}
.fill-abbey {fill: #494F55;}
.bg-navy {background-color: #000080;}
.fill-navy {fill: #000080;}
.bg-steel {background-color: #777B7E;}
.fill-steel {fill: #777B7E;}
.bg-bright-cerulean {background-color: #1DACD6;}
.fill-bright-cerulean {fill: #1DACD6;}
.bg-sunshade {background-color: #FF9E2C;}
.fill-sunshade {fill: #FF9E2C;}